attrs==23.1.0                # Replacing attr
configparser==6.0.0         # Adjusted ConfigParser to latest version
contextlib2==21.6.0
cryptography==43.0.3        # Latest available remains the same
docutils==0.21.2
Flask==3.1.0                # Upgraded Flask to the latest version
Flask_SQLAlchemy==3.1.1     # Upgraded to match Flask updates
htmlparser==0.0.2           # Corrected casing; latest version
importlib_metadata==8.0.0
ipython==8.16.0             # Latest available for interactive Python
Jinja2==3.1.4
gunicorn==22.0.0
mock==5.1.0
Pillow==10.0.0              # Image processing library upgrade
pyopenssl==24.2.1           # Same as latest
railroad==0.5.0             # Diagram tool latest remains unchanged
sphinx==8.1.3                
thread==2.0.5               # Latest available remains unchanged
tornado==6.3.3              # Tornado web framework latest version
urllib3[secure]==2.1.0      # urllib3 with extra security features