<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Dirt&family=Tilt+Neon&display=swap" rel="stylesheet">
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
      />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/genre.css') }}">  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/game-page.css') }}">
      <title>{{ game.title }}</title>
    </head>
    <body>
      {% include 'navigation.html' %}
      <section>
        <h1 class="game-title">
          {{ game.title }}
        </h1>
      </section>
      <section class="hero-collection">
        <section class="hero">
          <div class="hero-image">
            <img src="{{ game.thumbnail }}" alt="{{ game.title }}">
            <div class="image-bottom">
              <div class="platform">
                {% if "PC" in game.platform %}
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30" fill="yellow">
                      <path d="M12 16L3 16 3 23.75 12 24.988zM12 5L3 6.25 3 14 12 14zM14 4.75L14 14 27 14 27 3zM14 16L14 25.25 27 27 27 16z"></path>
                      </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" x="0px" y="0px" width="24" height="24" stroke-width="0.5" fill="none" stroke="yellow" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                    </svg>      
                    {% endif %}
                  </div>
                  <div class="get-button">
                    <a href="{{ game.game_url }}" target="_blank">
                        <button
                          class="btn btn-dark mx-2"
                          style="background-color: yellow; color: gray"
                        >
                          Play
                        </button>
                      </a>
                  </div>
            </div>
        </div>
    </section>
    <section class="description">
        <h3>About {{ game.title }}</h3>
        <ul class="additional-list">
            <li>Genre : {{ game.genre }}</li>
            <li>Developer : {{ game.developer }}</li>
            <li>Publisher : {{ game.publisher }}</li>
            <li>Release date : {{ game.release_date }}</l>
            </ul>
        <div class="description-text">
            {{ game.description }}
        </div>
    </section>
  </section>
  <section class="other-section">
    <section class="screenshots">
        <h3>
            Screenshots
        </h3>
        <div
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="3500"
      >
        <div class="carousel-inner">
            {% for img in game.screenshots %}
            <div
            class="carousel-item active"
            style="
              background-image: url('static/img/crossout-game-2023-y0.jpg');
            "
          >           
        <img src="{{ img.image }}" alt="{{ game.title }}">
    </div>
    {% endfor %}
        </div>
      </div>
    </section>
    <section class="requirements">
      <h3>Minimum System Requirements</h3>
      <div class="requirements-list">
          <ul>
              {% for key, value in game.minimum_system_requirements.items() %}
              <li>{{ key }} : {{ value }}</li>
              {% endfor %}
          </ul>
      </div>
</section>
  </section>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>
</html>