<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
      <img class="navbar-brand" src="{{ url_for('static', filename='img/logo.png')}}">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('home.home_page')}}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Browse Genres
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='mmorpg')}}">Mmorpg</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='shooter')}}">Shooter</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='strategy')}}">Strategy</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='moba')}}">Moba</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='racing')}}">Racing</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='sports')}}">Sports</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='social')}}">Social</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='sandbox')}}">Sandbox</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='open-world')}}">Open-world</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='survival')}}">Survival</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='pvp')}}">Pvp</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='anime')}}">Anime</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='sci-fi')}}">Sci-fi</a></li>
              <li><a class="dropdown-item" href="{{ url_for('home.genre_page', genre='voxel')}}">Voxel</a></li>              
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <a href="{{ url_for('home.search_page') }}">
            <button type="button" class="btn search-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#393e46" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </nav>